h1 {
    font-size: $font-size-h1;
    color: $new-red;
    line-height: $spacer*4.2;
    @include media-breakpoint-down(sm) {
		font-size: $font-size-h1-mobile;
	}
}
h2 {
    font-size: $font-size-h4;
    color: $new-black;
    @include media-breakpoint-down(sm) {
        font-size: $font-size-h2-mobile;
        line-height: $spacer*2;
	}
}