.home-our-brands {
    padding-top: $spacer*5.06;
    @include media-breakpoint-down(sm) {
        padding-top: $spacer*2.625;
    }
    .container {
        position: relative;
        &::after {
			content: '';
			position: absolute;
			background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
			height: 449px;
            width: 1000px;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            left: -522px;
            top: 349px;
            z-index: -1;
		}
    }
    .row {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
        p {
            max-width: 890px;
            margin: 0 auto $spacer*2.5;
        }
        .brand {
            margin-bottom: $spacer*1.5625;
            .brand-wrapper {
                background: $white;
                box-shadow: 3px 3px 20px #00000029;
                width: 280px;
                height: 280px;
                border-radius: 50%;
                margin: 0 auto;
                @include media-breakpoint-down(md) {
                    width: 180px;
                    height: 180px;
                }
                @include media-breakpoint-down(sm) {
                    width: 230px;
                    height: 230px;
                }
            }
        }
    }
}