#home-recepti {
	.row {
		&::before {
			background-image: url("/wp-content/themes/mlinotest/img/home-background-repeat-all.jpg");
			@include media-breakpoint-down(sm) {
				top: 0 !important;
				background-repeat: repeat !important;
				background-size: 100% !important;
				height: 100% !important;
			}
		}
		.js-recept-content {
			@include media-breakpoint-down(sm) {
				padding-top: $spacer*2 !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
				text-align: center !important;
			}
		}	
	}
	.container {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
			height: 483px;
			width: 1000px;
			background-size: contain!important;
			background-repeat: no-repeat!important;
			right: -877px;
			bottom: -291px;
        }
	}
}
#home-recepti, .recepti-featured-top {
	padding-top: $spacer*5.9;
	padding-bottom: $spacer*6.3;
	.row {
		position: relative;
		&::before {
			content: '' !important;
			position: absolute;
			top: 40px;
			left: 0;
			height: 491px;
			width: 100%;
			background-repeat: no-repeat;
            background-position: center center;
            background-size: calc(100% - 30px);
		}
		.col-lg-6:first-child {
			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
			}
		}
		.js-recept-content {
			padding-left: 44px;
		}	
	}
	@include media-breakpoint-down(md) {
		padding-top: 3.1875rem;
		padding-bottom: 0;
	}
	.heading-light-red {
		text-transform: uppercase;
		color: $light-red;
		font-size: $font-size-h3;	
	}
	.row:first-of-type {
		margin-bottom: $spacer*2;
		@include media-breakpoint-down(md) {
			margin-bottom: 0;
		}
		.nadnaslov {
			color: $font-color-base;
			font-size: $font-size-h4;
		}
	}
	h2 {
		margin: 0 0 0.625rem 0;
		line-height: $spacer*2.375;
		font-size: $spacer*1.75;
		color: $new-black;	
		@include media-breakpoint-down(md) {
			font-size: $font-size-h3;
			width: 90%;
			margin: 0  auto $spacer;
		}
	}
	p {
		font-size: 1.125rem;
	}
	img.dinner-icon {
		margin-left: 5px;
	}
	.link-wrapper {
		margin-top: $spacer*1.5;
		min-height: 40px;
		@include media-breakpoint-down(md) {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
			min-height: 85px;
		}
		.btn, .share-recepti {
			max-width: 100%;
			font-family: $font-family-headings;
		}
		.share-recepti {
			display: inline-block;
			height: 37px;
			margin-left: 0.7rem;
		}
	}
	.recipe-image {
		@include media-breakpoint-down(md) {
			max-width: 450px;
			height: auto;
		}
		@include media-breakpoint-down(sm) {
			max-width: 350px;
		}
		@media all and (max-width: 380px) {
			max-width: 280px;
		}
	}
	.product-image-link {
		position: absolute;
		z-index: 2;
		bottom: -30px;
		right: -30px;
		display: block;
		height: auto;
		max-width: 200px;
		@include media-breakpoint-down(lg) {
			bottom: -70px;
			right: 0;
		}
		@include media-breakpoint-down(md) {
			bottom: 60px;
			right: 80px;
		}
		@include media-breakpoint-down(sm) {
			right: 20px;
			bottom: 50px;
		}
		.product-image {
			max-height: 320px;
			@include media-breakpoint-down(lg) {
				margin: $spacer*3 0;
				max-width: 220px;
				height: auto;
				max-height: 270px;
			}
			@include media-breakpoint-down(md) {
				margin: $spacer*3 0;
				max-width: 200px;
				height: auto;
				max-height: 250px;
			}
			@include media-breakpoint-down(sm) {
				max-width: 160px;
				height: auto;
				max-height: 220px;
			}
			@media all and (max-width: 380px) {
				max-width: 130px;
				max-height: 190px;
			}
		}
	}
}

.product-image-left {
	max-width: 400px;
	max-height: 350px;
	margin: $spacer 0;
	@include media-breakpoint-down(md) {
		max-height: 300px;
		max-width: 300px;
	}
}
