#home-banner-main {
	min-height: 370px;
	max-width: 1920px;
    margin: 0 auto;
	.slick-arrow {
		z-index: 1;
		cursor: pointer;
		&::before {
			font-family: 'FontAwesome';
		}
	}
	.slick-prev {
		left: 20px;
	}
	.slick-next {
		right: 20px;
	}
	.slick-dots {
		bottom: 20px;
		li {
			background: $white;
			border-radius: 50%;
			button:before {
				color: transparent;
			}
		}
		.slick-active {
			background: $brand-primary;
		}
	}
	.slick-slide { 
		outline: none !important; 
	}
	&.slick-initialized .slick-slide {
		position: relative;
		max-height: 465px;
		height: 100%;
		@include media-breakpoint-up(md) {
			max-height: 752px;
		}
		img {
			object-fit: cover;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-down(lg) {
				height: 465px;
			}
		}
	}
	& > div {
		background-size: cover;
		@include media-breakpoint-down(sm) {
			min-height: 270px;
		}
		@media all and (max-width: 640px) {
			background-size: auto 100% !important;
		}
	}
	h1 {
		font-size: $spacer*5.6 !important;
		line-height: $spacer*6.2 !important;
		font-family: $font-family-headings !important;
		font-weight: $font-weight-semi-bold !important;
		text-shadow: 0px 0px 20px #000000AD !important;
		color: $white !important;
		margin-bottom: 40px !important;
		padding-top: 118px;
		margin: 0 auto;
		@include media-breakpoint-down(lg) {
			font-size: 2.8rem !important;
			line-height: 3.1rem !important;
			padding-top: $spacer*5;
			margin-bottom: $spacer*1.8 !important;
		}
	}
	a {
		background: $new-red !important;
		font-family: $font-family-base !important;
		font-size: $spacer*1.125 !important;
		font-weight: $font-weight-semi-bold !important;
		line-height: $font-size-h4 !important;
		text-transform: uppercase !important;
	}
	.container {
		z-index: 10;
		position: absolute;
		justify-content: center;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		height: 100%;
		bottom: 0;
	}
	.container, .holder {		
		min-height: 365px;
		@include media-breakpoint-down(sm) {
			min-height: 265px;
		}
	}
	.holder {	
	    position: absolute;
		left: 50%;
		transform: translate(-50%, 0);	
	}
}
