.home-novice {
    .container {
        position: relative;
        &::before {
			content: '';
			position: absolute;
			background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
            height: 500px;
            width: 900px;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            right: -648px;
            top: -210px;
		}
    }
    a.btn-primary {
        text-transform: none;
    }
    .storitev-wrapper {
        @include media-breakpoint-down(sm) {
            padding: 0;
        }
        &:not(:last-child) {
            @include media-breakpoint-down(sm) {
                margin-bottom: 41px;
            }  
        }
        & > div {
            h2 span {
                color: $new-red;
                font-size: 26px;
                font-weight: bold;
            }
            &:first-child {
                min-height: 360px;
                background-size: cover!important;
                background-repeat: no-repeat;
                background-position: 50%!important;
            }
            &:last-child {
                @include media-breakpoint-down(sm) {
                    margin: -80px 25px 0;
                }
                z-index: 2;
                position: relative;
                background: $white;
                box-shadow: 0px 0px 30px #0000001F;
                padding: 21px 32px 41px 23px;
                margin: -80px 25px 0;
            }
        }
    }
}