.home-about {
    padding-bottom: $spacer*10.81;
    .container {
        position: relative;
        &::before {
			content: '';
			position: absolute;
			background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
			height: 450px;
			width: 814px;
            background-size: contain!important;
            background-repeat: no-repeat !important;
			left: -661px;
            top: 515px;
            z-index: -1;
		}
    }
    &.en_US {
        padding-top: $spacer*6;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 3.1875rem;
        padding-bottom: 3.625rem;
    }
    p {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    h1 {
        text-transform: uppercase;
    }
    h2 {
        line-height: 2.25rem;
        @include media-breakpoint-down(sm) {
            margin-bottom: 1.9rem;
            line-height: 2rem
        }
    }
    .about-us {
        position: relative;
        margin-bottom: 1.8rem;
        @include media-breakpoint-down(sm) {
           padding: 0;
           margin-bottom: 2rem;
        }
        & > div {
            box-shadow: 0px 0px 30px #0000001F;
            background: $white;
            padding: 11px 24px 20px;
            @include media-breakpoint-up(md) {
                width: 100%;
                padding: 46px 62px 54px 46px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 479px;
            }
            @include media-breakpoint-down(sm) {
                position: relative;
                margin: -2.875rem 1.375rem 0;
            }
        }
        img {
			width: 85%;
			height: 619px;
            object-fit: cover;
            @include media-breakpoint-down(sm) {
                width: 100%;
                height: 246px;
			}
		}
		h1 {
            margin-bottom: $spacer*1.625;
            @include media-breakpoint-down(sm) {
				margin-bottom: 0;
			}
        }
        
        h2 {
            @include media-breakpoint-down(sm) {
                font-size: 1.375rem;
                line-height: 1.875rem;
            }
        }
    }
    .b2b {
        @include media-breakpoint-down(sm) {
            margin-bottom: 2rem;
        }
    }
    .b2b,
    .kariera {
        @include media-breakpoint-down(sm) {
            padding: 0;
        }
        img {
            width: auto;
            min-height: 413px;
            max-width: 100%;
            @include media-breakpoint-down(sm) {
                min-height: 246px;  
                height: 246px;         
            }
        }
        & > div {
            &:first-child {
                height: 413px;
                height: 246px;
            }
            &:last-child {
                padding: 22px 42px 42px 33px;
                margin: -6.2rem 1.8rem 0;
                min-height: 65px;
                @include media-breakpoint-down(sm) {
                    margin: -2.875rem 1.375rem 0;
                }
            } 
        }
    }
}