.home-izbrano {
    padding-top: 5.75rem;
    padding-bottom: 7.0625rem;
    .container {
        position: relative;
        &::before {
			content: '';
			position: absolute;
			background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
			height: 460px;
            width: 995px;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            left: -530px;
            top: -110px;
        }
    }
}
.home-izbrano,
.home-novice { 
    h1 {
        color: #4A4A4A;
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 4.25rem;
        text-transform: uppercase;
		@include media-breakpoint-down(sm) {
            font-size: 2.25rem
		}
    }
    p {
        max-width: 990px;
        margin: 0 auto 3.125rem;
        color: $new-black;
    }
}