/******************************************************
 *
 * CUSTOM MIXINS
 *
 * All mixins available to the theme,
 * global and specific.
 *
 *******************************************************/


/*------------------------------------*\
    GLOBAL
\*------------------------------------*/

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin border-radiuses($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-top-right-radius:    $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius:  $bottomleft;
	-webkit-border-top-left-radius:     $topleft;

	-moz-border-radius-topright:        $topright;
	-moz-border-radius-bottomright:     $bottomright;
	-moz-border-radius-bottomleft:      $bottomleft;
	-moz-border-radius-topleft:         $topleft;

	border-top-right-radius:            $topright;
	border-bottom-right-radius:         $bottomright;
	border-bottom-left-radius:          $bottomleft;
	border-top-left-radius:             $topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin opacity($opacity: 0.5) {
	$alpha: $opacity * 100;
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=#{$alpha})";
    filter: "alpha(opacity=#{$alpha})";
}


@mixin min-height($value) {
	min-height:$value;
	height:auto !important;
	height:$value;
}

@mixin background-clip() {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}


@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin vertical-align-parent() {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
 }

@mixin vertical-align() {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin arrow-up($color: black, $size: 20px, $factor: 1) {
	width: 0;
	height: 0;
	border-left: ($size/2) solid transparent;
	border-right: ($size/2) solid transparent;
	border-bottom: $size*$factor solid $color;
}

@mixin arrow-down($color: black, $size: 20px, $factor: 1) {
	width: 0;
	height: 0;
	border-left: ($size/2) solid transparent;
	border-right: ($size/2) solid transparent;
	border-top: $size*$factor solid $color;
}

@mixin arrow-left($color: black, $size: 20px, $factor: 1) {
	width: 0;
	height: 0;
	border-top: ($size/2) solid transparent;
	border-bottom: ($size/2) solid transparent;
	border-right: $size*$factor solid $color;
}

@mixin arrow-right($color: black, $size: 20px, $factor: 1) {
	width: 0;
	height: 0;
	border-top: ($size/2) solid transparent;
	border-bottom: ($size/2) solid transparent;
	border-left: $size*$factor solid $color;
}

@mixin cursor() {
	cursor:hand;
	cursor:pointer;
}

.clearfix {
	clear:both;
}

@mixin font-size($sizeValue) {
  $remValue: $sizeValue / 16;
  $pxValue: ($sizeValue);
  font-size: "#{$pxValue}px";
  font-size: "#{$remValue}rem";
}

$fix-mqs: false;
$old-ie: false;

// Mixin that will create the fixed IE styles
// .respond-min($width; $rules) when ($old-ie = true) and ($fix-mqs >= $width) {
    // @mixin rules();
// }

// Mixin that will wrap our content in a media query
// .respond-min($width; $rules) when ($old-ie = false) {
    // @media screen and (min-width: $width) {
        // $rules();
    // }
// }

@mixin animation($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}


@mixin contrast($background: $brandColor, $textColor: $white) {
	background:$background;
	color: $textColor;

	a {
		color: $textColor;
		text-decoration: underline;
	}
}



/**
 *	Custom mixins by Rok
 *
 *
 **/

 /*
	@file:
		functions.scss

	@description:
		SASS custom functions used and shared amongst all the
		individual files/functions

	@implementation:
		File is included in the main.scss file via the
		@include function
*/

/*
	@function:
		em( $value, $base )

	@description
		Simple function that converts pixels to em's

	@arguments:
		$value : The pixel value
		$base  : The base font size

	@implementation:
		em( 25px )

*/

@function em(
	$value,
	$base: 16px
) {

	@return ($value / $base) * 1em;

}

/*
	@mixin:
		rem( $value, $base )

	@description
		Simple function that converts pixels to rem's

	@arguments:
		$value : The pixel value
		$base  : The base font size

	@implementation:
		rem( 25px )

*/

@function rem(
	$value,
	$base: 16px
) {

	@return ($value / $base) * 1rem;

}


/*
 @mixin:
  retina( $query, $file, $type, $width, $height )
 @description
  Pretty cool mixin to generate a background image for retina display
 @arguments:
  $query  : Media query to trigger retina image
  $file   : File that will be used
  $type   : Filetype
  $width  : Width to scale the original image
  $height : Height to scale the original image
 @implementation:
  @include retina('images/video', 'png', 50%, 50%);
*/

@mixin retina(
 $file,
 $type,
 $width,
 $height,
 $query: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)"
) {

 background-image: url($file + '.' + $type);

 @media #{$query} {

  background-image: url($file + '@2x.' + $type);
  background-size: $width, $height;

 }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
