// color variables
$brand-primary:                 #FD0D1B;
$brand-secondary:               #fef202;

$new-grey:                      #4A4A4A;
$new-light-grey:                #707070;
$new-black:                     #20181C;
$new-red:                       #FD0D1B;
$new-light-red:                 #f10025;
$new-white:                     #FAFAFA;    
$light-red: 					#d01f22;
$white:                         #fff;
$black: 						#292929;
$light-gray: 					#EDEDED;
$gray:							#8E8E8E;
$light-blue:                    #327ab2;

$bg-banner: 					#f0e4d4;

// FONT VARIABLES
$font-family-headings:          'Dosis', sans-serif;
$font-family-base:              'Open Sans', serif;
$font-weight-regular:           400;
$font-weight-bold:              700;
$font-weight-semi-bold:         600;
$font-weight-medium:            500;
$font-color-base:               $black;
$font-color-headings:           $brand-primary;

$font-size-h1:                  3rem;
$font-size-h2:                  1.75rem;
$font-size-h3:                  1.8rem;
$font-size-h4:                  1.6rem;
$font-size-h5:                  1.3rem;
$font-size-h6:                  1.1rem;
$font-size-base:                1.125rem;
$font-size-small:               0.9rem;
$font-size-button:              1.125rem;

$font-size-h1-mobile:           2.625rem;
$font-size-h2-mobile:           1.375rem;

$font-base-line-height:         1.5;
$h1-line-height:                1.5;
$h2-line-height:                1.3;

// other variables
$transition:					all 0.3s;
$transition-speed: 		        0.4s;
$gutter:                        30px;
$halfgutter:                    15px;
$box-shadow:                    0 3px 5px rgba(0,0,0,.1);
$new-box-shadow:                0px 0px 30px #0000001F;

