/*
main categories izdelki
*/
.izdelki-top {
	margin-bottom: $spacer*3;
	.naslov-wrapper {
		margin-top: $spacer*3;
        margin-bottom: $spacer*0.5;
    }
}

.main-cat-wrapper {
	padding: 0 $spacer*2;
	margin-bottom: $spacer*2;
	@include media-breakpoint-down(sm) {
		margin-bottom: $spacer*5;
	}
	.white-desc-box {
		padding: 15px;
		text-align: left;
		margin-left: 22px;
		margin-right: 22px;
		margin-top: -45px;
	}
	.entry-title {
		a {
			text-decoration: none;
			font-family: $font-family-base;
			&:hover {
				color: $new-red;
			}
		}
	}
	.main-cat-images {
		position: relative;
		min-height: 180px;
		@media all and (max-width: 360px) {
			min-height: 160px;
		}
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.izdelki-logo {
			position: relative;
			display: block;
			margin: 0 auto;
			height: auto;
			width: auto;
			@media all and (max-width: 360px) {
				height: 95px;
			}
		}
		.izdelki-img {
			margin-top: $spacer;
			@media all and (max-width: 360px) {
				bottom: -150px;
			}
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: $spacer 0;
		li {
			display: flex;
			padding: $spacer/4 0;
			a {
				text-decoration: none;
				color: $new-red;
				&:hover {
					span {
						color: $light-red;
					}
				}
				span {
					font-size: 16px;
					position: relative;
					top: -2px;
					color: $new-red;
					margin-right: $spacer/2;
					text-decoration: none;
					transition: $transition;
					&:last-of-type {
						text-decoration: underline;
						top: 0;
					}
				}
			}
		}
	}
}


/*
izdelki list
*/
.izdelki-list-wrapper {
	margin-top: $spacer*2;
	h1 {
		color: $brand-primary;
		text-transform: uppercase;
	}
	.lead {
		font-style: italic;
		font-size: $font-size-base;
	}
	aside {
		margin-top: $spacer*3;
	}
	article.single-izdelek {
		margin: $spacer*4 0;
		position: relative;
		.single-izdelek-ancor{
			position: absolute;
			top: -180px;
			@include media-breakpoint-down(md) {
				top: -80px;
			}
		}
		&:first-of-type {
			margin-top: $spacer*2;
		}
		@include media-breakpoint-down(md) {
			margin: $spacer*2 0;
		}
		.izdelki-list-single {
			.js-nutritional-info-btn {
				text-transform: none;
			}
			.main-product-img {
				max-height: 300px;
				width: auto;
				height: auto;
				max-width: 100%;
				@include media-breakpoint-down(md) {
					margin-bottom: $spacer;
				}
			}
			.izdelki-img-wrapper {
				position: relative;
				display: inline-block;
				width: 100%;
				text-align: center;
				height: 100%;
				@include media-breakpoint-down(md) {
					max-width: 80%;
				}
				.link-overlay{
					position: absolute;
					&:hover{
						opacity: 0.8;
						transition: 0.3s;
					}
				}

				.product-badge {
					position: absolute;
					top: -30px;
					right: -15px;
					max-height: 200px;
					max-width: 100px;
					&.img-left {
						right: -10px;
					}
					@include media-breakpoint-down(md) {
						max-height: 200px;
						max-width: 100px;
					}
					&.product-badge2 {
						top: 55px;
						@include media-breakpoint-down(md) {
							top: 33px;
						}
					}
				}
			}
			.entry-title {
				color: $font-color-base;
			}
			p {
				margin-bottom: $spacer*2;
			}
			.products-btn-wrapper {
				display: flex;
				.btn:first-child {
					margin-right: $spacer;
				}
				a {
					margin-bottom: $spacer;
					display: flex;
					align-items: center;
				}
			}
		}
		.underline-wrapper img {
			margin-top: $spacer*4;
			margin-bottom: $spacer*2;
			@include media-breakpoint-down(md) {
				margin-top: $spacer*2;
			}
		}
		&:last-child {
		.underline-wrapper img {
				display: none;
			}
		}

		.b2b-info {
			margin: $spacer 0 0;
			max-height: 0;
			transition: max-height 0.6s ease-out;
			overflow: hidden;
			h5 {
				font-size: $font-size-small;
				margin-bottom: $spacer/2;
			}
			table, tr, td {
				border: none;
				font-size: $font-size-small;
			}
			table {
				width: 100%;
				tr {
					display: flex;
					justify-content: space-between;
					width: 100%;
					padding: $spacer/4 0;
					border-bottom: 1px solid $light-gray;
					td {
						padding: 0;
					}
				}
			}
			&.open {
				max-height: 1000px;
				transition: max-height 0.6s ease-in;
			}
		}

		.nutritional-info {
			margin: $spacer 0 0;
			max-height: 0;
			transition: max-height 0.6s ease-out;
			overflow: hidden;
			h5 {
				font-size: $font-size-small;
				margin-bottom: $spacer/2;
			}
			table, tr, td {
				border: none;
				font-size: $font-size-small;
			}
			table {
				width: 100%;
				tr {
					display: flex;
					justify-content: space-between;
					width: 100%;
					padding: $spacer/4 0;
					border-bottom: 1px solid $light-gray;
					td {
						padding: 0;
					}
				}
			}
			&.open {
				max-height: 1000px;
    		transition: max-height 0.6s ease-in;
			}
		}



		&.izdelek-horizontal {
			.izdelki-list-single {
				.izdelki-img-wrapper {
					@include media-breakpoint-down(md) {
						max-width: 80%;
					}
					.product-badge {
						&.product-badge2 {
							top: -30px;
							right: -125px;
							@include media-breakpoint-down(md) {
								top: 33px;
								right: -40px;
								max-height: 70px;
								max-width: 70px;
							}
						}
					}
				}
			}
		}
	}
}
