.custom-landing {
    padding: 200px 0;

    @media(max-width: 768px) {
        padding: 100px 0;
    }

    h1 {
        line-height: 3rem;
    }

    .container {
        max-width: 850px;
    }

    .mojstri-peke-grid {
        width: 100%;
    }

    section {
        padding: 2rem 0;

        img {
            width: 100%;
        }

        h1 {
            line-height: normal;
        }
    }

    iframe.youtube {
        border: 0;

        @media(max-width: 480px) {
            height: 200px;
        }
    }
}

.accordion-btn {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 15px;
    position: relative;
    border: 1px solid #fd0d1b;
    &::after{
        position: absolute;
        content: '>';
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 20px;
        color: #fd0d1b;
        font-weight: bold;
    }
}

.accordion-content {
    display: none;
    overflow: hidden;
    font-weight: bold;
    border: 1px solid #fd0d1b;
    padding: 15px;
    &.active {
        display: block;
    }
}