/*
arhive nasveti
*/
#nasveti-featured-top {
	margin-bottom: $spacer*4;
	img {
		margin-top: $spacer*2;
	}
}


#nasveti-grid {
	h2 {
		color: $font-color-base;
		font-size: $font-size-h3;
		font-weight: $font-weight-regular;
	}
	.nasveti-grid-single {
		margin-bottom: $spacer*2;
		a {
			text-decoration: none;
			&:hover {
				.entry-title {
					color: $light-red;
					span {
						color: $light-red;
					}
				}
			}
			img {
				max-height: 230px;
				object-fit: cover;
				@include media-breakpoint-down(sm) {
					height: auto;
				}
			}
			.entry-title {
				position: relative;
				left: 5px;
				transition: $transition;
				font-size: $font-size-h5;
				font-weight: $font-weight-regular;
				margin-top: $spacer/2;
				display: flex;
				@include media-breakpoint-down(sm) {
					left: 0;
				}
				span {
					position: relative;
					top: -3px;
					color: $brand-primary;
					margin-right: $spacer/2;
					transition: $transition;
					min-width: 20px;
				}
			}	
		}
	}
}


/*
nasveti single
*/
article.nasveti {
	.entry-title {
		color: $brand-primary;
		font-size: $font-size-h2;
		line-height: normal;
		margin-bottom: $spacer;
	}
	.single-thumbnail-wrapper {
		float: right;
		@include media-breakpoint-down(lg) {
			float: none;
		}
		img {
			padding: 0 0 $spacer $spacer;
			@include media-breakpoint-down(lg) {
				padding-left: 0;
			}
		}
	}
}

.link-more-nasveti {
	margin-bottom: $spacer/2;
	a {
		display: inline-block;
		color: $brand-primary;
	}
}