/*
arhiv objav
*/
.archive-objave-list {
    padding-left: 24px;
	li {
        position: relative;
        display: flex;
        margin-bottom: $spacer/2;
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -15px;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: $brand-primary;
        }
		span {
			margin-right: $spacer/2;
		}
		a {
			color: $brand-primary;
		}
	}
}

.objave-title, .objave-title-2 {
	margin-bottom: $spacer;
	@include media-breakpoint-down(sm) {
		margin-top: $spacer;
	}
}

.objave-title-2 {
	margin-top: $spacer*4;
}

.back-to-objave {
    margin-top: $spacer*2;
}

body.post-type-archive-objava {
    main {
        min-height: calc(100vh - 580px);
    }
    .page-title {
        margin-bottom: $spacer*2;
    }
}