/*
template kontakt
*/
.page-template-template-kontakt {
	.wrapper {
		padding-bottom: 0;
	}
	#map {
		border-top: 2px solid $brand-primary;
	}
	.contact-main-wrapper {
		margin-bottom: $spacer*4;
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer*2;
		}
	}
}

.kontaktni-podatki {
	@include media-breakpoint-down(md) {
		text-align: center;
	}
	img {
		margin-bottom: $spacer;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			display: flex;
			justify-content: flex-start;
			margin: $spacer/2 0;
			color: $new-light-red;
			@include media-breakpoint-down(sm) {
				justify-content: center;
			}
			i {
				margin-right: $spacer;
				color: $brand-primary;
				font-size: 1.5rem;
			}
		}		
	}
	.fb-kontakt {
		display: flex;
		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
		align-items: center;
		a {
			background: $brand-primary;
			border-radius: 100%;
			height: 35px;
			width: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: $spacer/2;
			i {
				margin-right: 0;
				color: $brand-secondary;
				font-size: 1.2rem;
			}
		}
	}
}



/*
404 page
*/
.container-404 {
	min-height: calc(100vh - 480px);
	.row {
		min-height: 500px;
		@media all and (max-height: 880px) {
			min-height: 400px;
		}
		@media all and (max-height: 600px) {
			min-height: 300px;
		}
	}
}


/*
zgodovina page
*/
.zgodovina-single-wrapper {
	display: flex;
	margin-bottom: $spacer*2;
	.letnica {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: $brand-primary;
		border-radius: 100%;
		min-height: 70px;
		min-width: 70px;
		max-width: 70px;
		max-height: 70px;
		height: 70px;
		width: 70px;
		color: $white;
		margin-right: $spacer;
		font-weight: $font-weight-bold;
		font-size: 0.85rem;
		padding: $spacer/2;
	}
	.letnica-text {
		padding-top: $spacer*1.4;
	}
}

