/*
archive recepti
*/
.rotate-img-wrapper {
	overflow: hidden;
}

.recepti-featured-top {
	padding: 0;
	margin-bottom: $spacer*4;
	@include media-breakpoint-down(md) {
		margin-bottom: $spacer*2;
	}
}

.img-wrap {
	min-height: 200px;
}


/*
recepti popup
*/
.recepti-top-naslov {
	color: $brand-primary;
	@include media-breakpoint-down(md) {
		font-size: $font-size-h3;
		line-height: 1.3;
	}
	span, a {
		color: $brand-primary;
	}
	.js--change-text {
		font-size: $font-size-h1;
		line-height: 1.5;
		font-weight: $font-weight-bold;
		font-family: $font-family-headings;
		@include media-breakpoint-down(md) {
			font-size: $font-size-h3;
			line-height: 1.3;
		}
	}
	.klikni-spremeni-img {
		position: absolute;
		bottom: 130px;
		right: -50px;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}
.js-recepti-pop-btn {
	position: relative;
}
.recepti-popup {
	background: $brand-primary;
	color: $white;
	display: none;
	width: auto;
	height: auto;
	position: relative;
	z-index: 5;
	height: 40px;
	padding: 0 $spacer;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 350px;
	margin: $spacer*1.5 auto $spacer;
	max-height: 0;
	opacity: 0;
	transition: all 0.6s ease-out;
	p {
		color: $white;
		margin-bottom: 0;
		line-height: 1.5;
	}
	a {
		color: $brand-secondary;
	}
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: -20px;
		transform: translate(-50%) rotate(90deg);
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-right:15px solid $brand-primary;
	}
	&.show {
		max-height: 1000px;
		opacity: 1;
		transition: all 0.6s ease-out;
	}
}


#recepti-grid {
	.recepti-featured-single-wrapper {
		margin-bottom: $spacer*3;
		a {
			text-decoration: none;
			&:hover {
				.entry-title {
					color: $light-red;
					span {
						color: $light-red;
					}
				}
			}
			.img-wrapper {
				min-height: 175px;
				background-repeat: no-repeat !important;
				background-size: cover !important;
				border: 1px solid $black;
			}
			.entry-title {
				display: flex;
				margin-top: $spacer/2;
				font-size: $font-size-h6;
				transition: $transition;
				font-weight: $font-weight-regular;
				span {
					position: relative;
					top: -5px;
					min-width: 16px;
					height: auto;
					color: $brand-primary;
					margin-right: $spacer/2;
					transition: $transition;
				}
			}
		}
	}
}

/*
recepti filtri
*/
#recepti-filters {
	margin-bottom: $spacer;
	.recepti-filters-wrapper, .recepti-filters-wrapper-2 {
		@include media-breakpoint-down(md) {
			text-align: center;
		}
		background: $light-gray;
		padding: $spacer/2 $spacer;
		height: calc(100% - 16px);
		margin-bottom: $spacer;
		span, h6 {
			color: $brand-primary;
			font-weight: $font-weight-bold;
			font-size: $font-size-base;
			font-family: $font-family-headings;
		}
		h6 {
			text-align: center;
			margin-bottom: $spacer;
		}
		label {
			font-size: $font-size-base;
			margin-right: $spacer*2;
			font-family: $font-family-headings;
			input[type="checkbox"] {
				margin-right: $spacer/2;
				&:focus {
					outline: none;
				}
			}

		}
	}
	.recepti-filters-wrapper-2 {
		display: flex;
		@include media-breakpoint-down(md) {
			display: block;
		}
		span {
			flex-basis: 30%;
			margin-right: $spacer;
			@include media-breakpoint-down(md) {
				display: block;
				width: 100%;
				text-align: center;
				margin-bottom: $spacer/2;
			}
		}
		label {
			margin-right: $spacer;
		}
		#recepti-search {
			flex-basis: 70%;
			float: right;
			@include media-breakpoint-down(md) {
				float: none;
			}
			#recepti-search-form {
				outline: none;
				box-shadow: none;
				border: none;
				background: none;
				border-bottom: 1px solid $gray;
				width: calc(100% - 50px);
			}
			#recepti-search-submit {
				background: $brand-primary;
				outline: none;
				box-shadow: none;
				border: none;
				border-radius: 5px;
				color: $white;
				cursor: pointer;
			}
		}
	}
}

/*
single recepti
*/
body.single-recepti {
	.naslov-wrapper {
		margin-bottom: $spacer*4;
	}

	main {
		.entry-title {
			color: $brand-primary;
			font-size: $font-size-h2;
			margin-bottom: $spacer;
		}
		.single-thumbnail-wrapper {
			position: relative;
			img {
				border: 2px solid $brand-primary;
				width: 100%;
				height: auto;
			}
			.single-thumbnail-tags {
				background: $brand-secondary;
				padding: $spacer/4 $spacer;
				position: absolute;
				bottom: 2px;
				right: 2px;
				span {
					margin-right: $spacer/2;
					i {
						margin-right: $spacer/2;
					}
				}
			}
		}
		.entry-content {
			margin: $spacer*2 0;
			ol {
				padding-left: 0;
				list-style: none;
				li {
					position: relative;
					span {
						color: #ff0025;
						font-family: $font-family-headings;
						font-size: $font-size-h3;
						margin-right: $spacer/2;
					}
				}
			}
			.single-recept-sestavine {
				h5 {
					color: $font-color-base;
					text-decoration: underline;
				}
				ul {
					columns: 2;
					list-style: none;
					padding: 0;
					@include media-breakpoint-down(sm) {
						columns: 1;
					}
				}
			}
		}
	}
}

/*
single recepti povezani produkti carousel + tabela
*/
// #carouselRecipe {
// 	.carousel-item {
// 		padding-left: $spacer*3.5;
// 		padding-right: $spacer*3.5;
// 		position: relative;
// 		a {
// 			text-decoration: none;
// 		}
// 		img {
// 			display: block;
// 			max-height: 150px;
// 			width: auto;
// 			margin: 0 auto;
// 			object-fit: contain;
// 		}
// 		.sorodni-produkt-title {
// 			font-size: $font-size-base;
// 			text-align: center;
// 			margin-top: $spacer/2;
// 			text-transform: none;
// 			opacity: 0;
// 		}
// 	}
// 	.carousel-control-prev-icon, .carousel-control-next-icon {
// 		background: none !important;
// 		i {
// 			font-size: 1.5rem;
// 			color: $brand-primary;
// 		}
// 	}
// }

.slick-sorodni-produkti {
	a {
		&:focus {
			outline: none;
			border: none;
			box-shadow: none;
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		i {
			color: rgba($brand-primary, 0.5);
			font-size: 1.3rem;
			cursor: pointer;
			transition: $transition;
		}
		&.arrow-prev {
			left: 0;
		}
		&.arrow-next {
			right: 0;
		}
		&:hover {
			i {
				color: $brand-primary;
			}
		}
	}
	.slick-item {
		padding: 0 $spacer*3.5;
		a {
			text-decoration: none;
			.sorodni-produkt-title {
				font-size: $font-size-base;
				text-align: center;
				margin-top: $spacer/2;
				text-transform: none;
			}
		}
	}
	// .slick-dots {
	// 	display: flex !important;
	// 	justify-content: center;
	// 	li {
	// 		height: 10px;
	// 		width: 10px;
	// 		button {
	// 			background: none;
	// 			border: 1px solid $brand-primary;
	// 			border-radius: 50%;
	// 			height: 10px;
	// 			width: 10px;
	// 		}
	// 		&.slick-active {
	// 			button {
	// 				background: $brand-primary;
	// 			}
	// 		}
	// 	}
	// }
}




.ingredients-table {
	margin-bottom: $spacer;
	table {
		border: none;
		width: 100%;
		tbody {
			width: 100%;
			tr {
				width: 100%;
				td {
					width: 50%;
					border: none;
					padding: 0;
				}
			}
		}
	}
}


/*
archive taxonomija recepti
*/
.archive-kat-recepti {
	.page-title {
		margin-bottom: $spacer*4;
	}
	article {
		margin-bottom: $spacer*4;
	}
}




#table-row {
	td {
		border: 1px solid #060606;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
	}
}
