.sklici-list {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: $spacer;
    }
    p {
        margin-bottom: 0;
        font-size: 0.7rem;
        color: $gray;
    }
    a {
        color: $new-black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}