/*
trgovine
*/
section.trgovine {
	h2 {
		font-size: $font-size-h3;
		margin-bottom: $spacer;
	}
	#tip-poslovalnice {
		margin-bottom: $spacer;
		span:first-of-type {
			font-size: $font-size-h5;
			font-weight: $font-weight-bold;
			margin-right: $spacer;	
			font-family: $font-family-headings;
		}
		label {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            user-select: none;
			margin-right: $spacer*1.5;
			cursor: pointer;
			@include media-breakpoint-down(md) {
				display: block;
				margin: $spacer/2 0;
            }
            img {
                margin-right: $spacer/2;
            }
			input[type=checkbox] {
				margin: 0;
                opacity: 0;
                display: none;
                &:checked ~ .checkmark {
                    background-color: $brand-primary;
                }
                &:checked ~ .checkmark:after {
                   display: block; 
                }
            }	
            .checkmark {
                position: absolute;
                top: 7px;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: $brand-primary;
                border-radius: 3px;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 7px;
                    top: 4px;
                    width: 5px;
                    height: 10px;
                    border: solid $brand-secondary;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }
			span:last-of-type {
				font-size: $font-size-base;
				font-weight: $font-weight-regular;
				margin-right: 0;
				text-decoration: underline;
				font-family: $font-family-headings;
			}
        }
	}
}

/*
infowindow trgovine
*/
.infowindow-content {
    .loc-title {
        display: block;
        font-size: $font-size-h6;
        margin-bottom: $spacer;
    }
    p {
        font-size: 0.75rem;
        margin-bottom: 0;
    }
    .loc-city {
        span {
            display: inline-block;
            font-size: 0.75rem;
            margin-bottom: $spacer;
            &:first-of-type {
                margin-right: $spacer/4;
            }
        }
    }
    .loc-email {
        margin-bottom: $spacer;
    }
}