.page-template-template-zgodovina .naslov-wrapper {
    @include media-breakpoint-down(sm) {
        margin-bottom: $spacer*3.625;
    }
}
.zgodovina {
    @include media-breakpoint-up(lg) {
        padding-left: $spacer*1.875;
    }
    &--top{
        margin-bottom: $spacer*2.875;
    }
}
.timeline {
    position: relative;
    padding: $spacer*2.1875 0 $spacer*3.125;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 0;
        height: 100%;
        width: 8px;
        background: #E6E6E6;
        border-radius: 5px;
        @include media-breakpoint-down(sm) {
            left: 0;
        }
    }
    .timelineRow {    
        display: flex;
        @include media-breakpoint-down(sm) {
            display: block;
            margin-bottom: $spacer*3.125;
        }
        & > div {
            width: 50%;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            &:first-child {
                padding: 0  0 0 $spacer*2.1875;
            }
            &:last-child {
                padding: 0 $spacer*2.1875 0 0; 
                @include media-breakpoint-down(sm) {
                    padding: 0  0 0 $spacer*2.1875;
                }
            }
        }
        &:nth-child(even) {
            .timelineRow--year {
                order: 1;
                text-align: right;
                padding: 0 $spacer*2.1875 0 0; 
                justify-content: flex-end;
                align-items: flex-end;
                @include media-breakpoint-down(sm) {
                    padding: 0  0 0 $spacer*2.1875;
                    text-align: left;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
                & > div:last-child {
                    text-align: right;
                    @include media-breakpoint-down(sm) {
                        text-align: left;
                        margin-bottom: 0.9rem;
                    }
                }
                &::after {
                    left: auto;
                    right: -11px;
                    margin: -7px 0 0 -7px;
                    @include media-breakpoint-down(sm) {
                        left: 3px;
                    }
                }
            }
            .timelineRow--milestoneContainer {
                order: 2;
                padding: 0  0 0 $spacer*2;
            }
        }
        &--year {
            position: relative;
            align-items: center;
            order: 2;
            justify-content: flex-start;
            align-items: flex-start;
            &::after {
                content: "";
                position: absolute;
                z-index: 10;
                left: -3px;
                top: 50%;
                margin: -7px -7px 0 0;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $brand-primary;
            }
            & > div {
                text-align: left;
                &:first-child {
                    font-weight: $font-weight-bold;
                    font-size: $font-size-h2;
                    line-height: 2.375rem;
                }
            }
        }
        &--milestoneContainer {
            order: 1;
        }
        &--milestone-image {
            img {
                width: 100%;
            }
        }
        &--milestone {
            background: #fff;
            width: 100%;
            position: relative;
            z-index: 5;
        }
    }
}
.brosura {
    margin-top: $spacer*4.5;
}