/*
kontakt page kontaktni obrazec
*/
.kontakt-obrazec {
	position: relative;
	background: $white;
	box-shadow: 0 0 30px #0000001F;
	padding: 2.5rem 3rem;
	width: 100%;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat!important;
		right: 0;
		bottom: -11px;
		overflow: hidden;
	}
	form {
		width: 100%;
		input, textarea, select {
			position: relative;
			z-index: 2;
			box-shadow: 0 0 30px #0000001F;
			outline: none;
			border: 1px solid $white;
			margin-bottom: $spacer;
			width: 100%;
			padding: .25rem .5rem 1rem;
			&::placeholder {
				color: $new-black;	
			}
			&:focus {
				border: 1px solid $brand-secondary;
			}
			&.missing-field {
				&::placeholder {
					color: $light-red;	
				}
			}
		}
		textarea {
			resize: none;
			height: 200px;
		}
		.btn-submit {
			position: relative;
			z-index: 2;
			background: $brand-primary;
			cursor: pointer;
			border-radius: 0;
			color: $white;
			font-weight: 400;
			box-shadow: none;
			border: 1px solid $white;
			transition: $transition;
			&:hover {
				background: $brand-secondary;
				border: 1px solid $brand-secondary;
			}
			&:focus {
				border: 1px solid $brand-secondary;
			}
		}
	}
	.form-submit-msg {
		color: $brand-secondary;
		margin: $spacer 0 0;
	}
}