/*
all buttons
*/
.btn {
	position: relative;
	display: inline-block;
	padding: $spacer/4 $spacer*1.5;
	border: none;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	text-decoration: none;
	font-size: $font-size-base;
	background: none;
	font-family: $font-size-button;
	&.btn-primary {
		background: $new-red;
		padding: $spacer*0.6875 $spacer*2;
		font-size: $font-size-base;
		text-transform: uppercase;
		border: 0;
		color: $white;
		vertical-align: middle;
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		transition: color $transition-speed, border $transition-speed;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $white;
			border-radius: 0;
			transform: scale(0);
			transition-property: transform;
			transition-duration: $transition-speed;
			transition-timing-function: ease-out;
		}
		&:hover {
			border: 1px solid $new-red;
			background: $white;
			color: $new-red;
			&:before {
				transform: scale(2);
			}
		}
	}
	&.btn-secondary {
		border: 2px solid $brand-primary;
		color: $brand-primary;
		background: none;
		vertical-align: middle;
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		transition-property: color;
		transition-duration: $transition-speed;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $brand-primary;
			border-radius: 5px;
			transform: scale(0);
			transition-property: transform;
			transition-duration: $transition-speed;
			transition-timing-function: ease-out;
		}
		&:hover {
			color: $white;
			&:before {
				transform: scale(2);
			}
		}
	}
}


.fa-clock-o {
	&:before {
		background-image: url("/wp-content/themes/mlinotest/img/clock.png") !important;
		background-size: 15px 15px;
		display: inline-block;
		width: 15px;
		height: 15px;
		content:""!important;
		background-repeat: no-repeat;
		background-size: contain
	}
}

.fa-chef-o {
	&:before {
		background-image: url("/wp-content/themes/mlinotest/img/chef.png") !important;
		background-size: 15px 15px;
		display: inline-block;
		width: 15px;
		height: 15px;
		content:""!important;
		background-repeat: no-repeat;
		background-size: contain
	}
}

//White box
.white-grid-item-wrapper {
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
	&:not(:last-child) {
		@include media-breakpoint-down(sm) {
			margin-bottom: 1.5625rem;
		}
	}
    & > div {
        &:first-child {
            min-height: 360px;
            background-size: cover!important;
            background-repeat: no-repeat;
			background-position: 50%!important;
			@include media-breakpoint-down(sm) {
                min-height: auto;        
            }
            img {
                height: 413px;
				object-fit: cover;
				@include media-breakpoint-down(sm) {
					height: 246px;
				}
            }
        }
        &:last-child {
            z-index: 1;
            position: relative;
            background: $white;
            box-shadow: 0px 0px 30px #0000001F;
            padding: 40px 49px 39px 33px;
			margin: -80px 25px 0;
			@include media-breakpoint-down(sm) {
				margin: -80px 22px 0;
			}
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}