@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,700|Open+Sans&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');