.footer {
	overflow: hidden;
    overflow-y: scroll;
	position: relative;
	font-family: $font-family-headings;
	#back-to-top {
		position: absolute;
		z-index: 1;
		top: -30px;
		left: 50%;
		transform: translate(-50%);
		background: $brand-primary;
		height: 80px;
		width: 80px;
		border-radius: 50%;
		transition: $transition;
		&:hover {
			top: -35px;
		}
		i {
			position: absolute;
			top: 3px;
			left: 50%;
			transform: translate(-50%);
			color: $white;
			font-size: 1.5rem;
			transition: $transition;
		}
	}
	.social-icons-footer {
		.social-links {
			display: flex;
			justify-content: center;
			.social-link {
				&.mail,
				&.phone {
					display: none;
				}
			}
		}
	}
}

.footer-main {
	position: relative;
	z-index: 2;
	background-color: rgba($new-white, 0.7); 
	padding: $spacer*1.5 0 $spacer;
	box-shadow: 0px 0px 38px #0000001F;
	@include media-breakpoint-down(md) {
		padding-bottom: 0;
	}
	&::before {
		content: '';
		position: absolute;
		background-position: center right;
		background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
		height: 269px;
		width: 796px;
		background-size: contain!important;
		background-repeat: no-repeat !important;
		right: -360px;
    	bottom: -8px;
	}
	.footer-section {
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer*2;
		}
	}
	p, a, span, i, li {
		color: $new-black;
	}
	h3 {
		font-size: $font-size-h4;
		font-weight: $font-weight-semi-bold;
		line-height: $spacer*4.2;
		margin-bottom: 0;
		color: $new-red;
		text-transform: uppercase;
	}
	p {
		@include media-breakpoint-up(lg) {
			padding-left: 20px;
		}
	}
	p, a {
		font-size: $font-size-base;
		font-family: $font-family-base;
		line-height: $font-size-h5 ;
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
	}
	.menu-item {
		span {
			transition: $transition;
		}
		&:hover {
			span {
				color: $brand-secondary;
			}
			a {
				color: $brand-secondary;
			}
		}
	}
	.link-more {
		text-decoration: underline;
		@include media-breakpoint-up(lg) {
			padding-left: 20px;
		}
		&:hover {
			color: $brand-secondary;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		padding-left: $spacer/2;
	}
	.footer-logo-wrapper {
		text-align: center;
		@include media-breakpoint-down(md) {
			text-align: center;
			margin-bottom: $spacer*2;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer;
		}
		img {
			max-width: 234px;
			@include media-breakpoint-down(md) {
				max-width: 150px;
			}
		}
	}
	.fb-desktop {
		margin-top: $spacer*2.5;
		text-align: center;
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: $font-size-small;
			text-decoration: underline;
			transition: none;
			span {
				position: relative;
				color: white;
				background: $new-black;
				display: inline-block;
				padding: $spacer/2.5 0 $spacer $spacer/1.5;
				height: 25px;
				width: 25px;
				border-radius: 50%;
				margin-right: $spacer/2;
				i {
					font-size: 0.9rem;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $white;
				}
			}
			&:hover {
				color: $new-red;
				span {
					i {
						color: $new-red;
					}
				}
			}
		}
	}
	.footer-strani, .footer-izdelki {
		@include media-breakpoint-up(lg) {
			padding-left: 20px;
		}
		span {
			position: relative;
			top: 1px;
			margin-right: $spacer/4;
		}
	}
	.footer-kontakt {
		line-height: 1rem;
		padding: 0;
		li {
			margin-bottom: $spacer/2;
			display: flex;
			align-items: center;
			@include media-breakpoint-up(lg) {
				padding-left: 10px;
			}
			span {
				font-size: 1rem;
			}
			i {
				margin-right: $spacer/2;
			}
		}
	}
	#footer-kontakt-mobile {
		#fb-mobile {
			margin-top: $spacer;
			a {
				display: flex;
				align-items: center;
				width: 100%;
				text-decoration: none;
				span {
					margin-left: 5px;
					margin-right: $spacer;
				}
				i {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid $white;
					border-radius: 100%;
					font-size: 0.8rem;
					height: 25px;
					width: 25px;
				}
			}
		}
	}
}

.footer-secondary {
	background: $brand-primary;
	.footer-secondary-links {
		margin: 0;
		margin-bottom: $spacer/2;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
		li {
			display: inline-block;
			position: relative;
			line-height: 1;
			&:before {
				content: "";
				position: absolute;
				left: -1px;
				top: 4px;
				height: 10px;
				width: 1px;
				background: $white;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a {
				padding: $spacer/2;
				color: $white;
				text-decoration: none;
				font-size: $font-size-small;
				font-family: $font-family-headings;
				margin-bottom: 0;
				&:hover {
					color: $brand-secondary;
				}
			}
		}
	}
}


.footer-bottom {
	padding: $spacer*2 0;
	.row {
		max-width: 775px;
		margin: 0 auto;
	}
}


.cookie-notice {

			@media (max-width: 991px) {
				bottom: 0px;
			}

   background: #94100e;;
   padding: 5px 5px 5px 5px;
   bottom: 0;
	 position: fixed;
   width: 100%;
   z-index:100;
   color: white;
   opacity: .95;
   transform: translateY(0);
   transition: opacity 250ms ease, transform 250ms * 2 ease;
   box-shadow: 5px 0 10px rgba(0, 0, 0, 0.17);
   font-size: 90%;

	 .btn-gray {
		 background: #566a71;
	 }

   a.more {
     color: white;
     text-decoration: underline !important;
   }

   .left-cookie-text {
		   color: white;
         padding: 10px 0 6px 15px;
             font-size: 13px;
				 @media (max-width: 991px) {
					 font-size:85% !important;
					 line-height: 1.3 !important;
           padding-left: 10px;
           padding-right: 10px;
					 }
   }

   &.is-hidden {
     opacity: 0;
     transform: translateY(100%);
   }

   .btn-primary {
       vertical-align: sub;
    }
 }

 .legal-notice {
    color: white;

    &:hover {
        text-decoration: none;
    }

 }

#cookie-notice-button3 {
	padding-left: 10px;
padding-right: 10px;
}

#cookie-notice-button2, #cookie-notice-button3 {
background: white;
  	color: #e93c2c;
  	font-weight: bold;
	border-radius: 0;
	border: none;
	margin-top: 10px;

	&:hover {
		opacity: 0.9;
		transition: 0.3s;
		cursor: pointer;
		color: white !important;
	}

    @media (max-width: 991px) {
          margin-top: 0;
          margin-bottom: 5px;
    }
}
