/*
notification pasica
*/
.top-bar-notification {
	padding: $spacer/2 0;
	background-color: $brand-secondary;
	p {
		text-align: center;
		margin-bottom: 0;
		color: red;
		font-weight: $font-weight-bold;
	}
}

/*
header
*/
.header {
	background: rgba($white, 0.94); 
	box-shadow: 3px 3px 10px #00000029;
	min-height: 80px;
	position: fixed;
	width: 100%;
	z-index: 100;
	@include media-breakpoint-down(sm) {
		min-height: 62px;
		height: 62px;
	}
	.brand {
		position: relative;
		img {
			position: absolute;
			width: auto;
			height: auto;
			max-width: 234px;
			top: -70px;
			left: -20px;
			@-moz-document url-prefix() {
				top: -60px;
			}
		}
	}
	.header-top-nav {
		position: relative;
		z-index: 1000;
		justify-content: flex-end;
		margin-bottom: $spacer/2;
		a {
			color: $white;
			text-transform: uppercase;
			text-decoration: none;
			font-family: $font-family-headings;
			font-size:  $spacer*1.125;
			&:hover {
				color: $yellow;
			}
		}
		#js--main-search-btn {
			color: $new-red;
			font-family: $font-family-headings;
			font-weight: $font-weight-regular;
			font-size:  $spacer*1.125;
			padding: $spacer/6 $spacer*2 $spacer/4;
			transition: $transition;
			text-decoration: none;
			i {
				font-size: $spacer*1.5;
				margin-right: $spacer*0.3125;
			}
			&:hover {
				color: $new-grey;
			}
		}
		.header-top-link {
			display: inline-block;
			padding: $spacer/6 $spacer $spacer/4;
			background: $new-red;
			&:last-child {
				margin-right: 0;
			}
		}
		#b2b-link {
			&.active {
				border: 1px solid $brand-secondary;
				border-top: none;
				color: $brand-secondary;
			}
		}
		.btn-dropdown-lang {
			display: inline-block;
			padding: $spacer/6 0 0 $spacer*2;
			color: $new-red;
			&:focus {
				color: $new-grey;
			}
		}
	}
	ul.header-navigation {
		padding: $spacer 0 0 0;
		li {
			display: inline-block;
			a {
				display: inline-block;
				padding: $spacer*1.125 $spacer*1.7 $spacer;
				position: relative;
				color: $new-grey;
				text-decoration: none;
				text-transform: uppercase;
				font-size: $spacer*1.625;
				font-weight: $font-weight-medium;
				font-family: $font-family-headings;
				line-height: $spacer*1.625;
				&:hover {
					color: $new-red;
				}
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					height: 5px;
					width: 0;
					transform: translate(-50%);
					background-color: $brand-secondary;
					transition: $transition;
				}
			}
			&.current-menu-item {
				a {
					color: $new-red;
				}
			}
		}
	}
	.header-left-nav, .header-right-nav {
		ul {
			margin-bottom: 0;
		}
	}

	.header-left-nav ul{
		li {
			&:first-child a {
				padding-left: 0;
			}
			&:last-child a {
				padding-right: 0;
			}
		}

	}

	.header-right-nav ul {
		li {
			&:first-child a {
				padding-left: 0;
			}
			&:last-child a {
				padding-right: 0;
			}
		}

	}
}


// main navigation mobile
.main-navigation-mobile {
	position: relative;
	z-index: 9996;
	padding: 0 $spacer;
	height: 80px;
	@include media-breakpoint-down(sm) {
		height: 60px;
	}
	.brand img {
		position: absolute;
		left: -5px;
		top: -33px;
		max-height: 120px;
		@include media-breakpoint-down(sm) {
			top: -25px;
			max-height: 50px;
		}
		@media all and (max-width: 330px) {
			top: -18px;
			max-height: 35px;
		}
	}
	.main-mobile-navigation-right {
		width: 100%;
		align-items: center;
		justify-content: flex-end;
		a {
			&:hover {
				i {
					color: $new-red;	
				}
			}
			i {
				color: $new-grey;
				font-size: $font-size-h4;
				margin: 0 $spacer/2;
				transition: $transition;
			}
		}
		.btn-dropdown-lang {
			text-transform: uppercase;
			display: inline-block;
			padding: $spacer/6 $spacer;
			color: $new-grey;
			text-decoration: none;
			font-size: $font-size-h5;
			font-weight: $font-weight-bold;
			padding: $spacer/2;
			font-family: $font-family-headings;
			&:hover, &:focus {
				color: $brand-secondary;
			}
		}
	}
}

.nav-mobile {
	position: absolute;
	z-index: 9000;
	top: -500px;
	left: 0;
	display: block;
	list-style: none;
	padding: 0;
	width: 100%;
	transition: $transition;
	background: $new-light-red;
	padding: $spacer*1.5 0;
	li {
		display: block;
		a {
			display: block;
			width: 100%;
			text-align: center;
			padding: $spacer/2 0;
			text-decoration: none;
			color: $white;
			text-transform: uppercase;
			font-size: $font-size-h5;
			opacity: 0;
			transition: opacity 0.2s 0.2s, color 0.5s;
			font-family: $font-family-headings;
			&:hover {
				color: $brand-secondary;
			}
		}
	}
	&.active {
		top: 0;
		height: 335px;
		a {
			opacity: 1;
		}
	}
}


// hamburger icon
#hamb-icon {
	position: relative;
	top: 18px;
	left: 5px;
	z-index: 9999;
	transform: translateY(-50%);
	height: 40px;
	width: 40px;
	cursor: pointer;
	span {
		position: absolute;
		left: 5px;
		background-color: $new-black;
		height: 3px;
		width: 30px;
		transition: all 0.4s;
		&:first-child {
			top: 10px;
		}
		&:nth-child(2) {
			top: 20px;
		}
		&:last-child {
			top: 30px;
		}
	}
	&.closed {
		span {
			&:first-child {
				transform: rotate(45deg);
				top: 20px;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				transform: rotate(-45deg);
				top: 20px;
			}	
		}
	}
}



