/*
all globals go here
*/
body, .page-wrapper {
	overflow-y: unset;
	overflow-x: hidden;
}
// headings
h1, h2, h3, h4, h5, h6 {
	color: $font-color-headings;
	font-family: $font-family-headings;
	font-weight: $font-weight-bold;
}

h1, .page-title {
	font-size: $font-size-h1;
	font-weight: $font-weight-semi-bold;
	line-height: $h1-line-height;
	color: $new-red;
	@include media-breakpoint-down(md) {
		line-height: $h2-line-height;
		font-size: $font-size-h2;
		margin-bottom: 0;
	}
}

 p {
	 font-size: $font-size-base;
	 @include media-breakpoint-down(sm) {
		font-size: 1rem;
		line-height: 1.375rem;
	}
 }

h2, .section-title {
	font-family: $font-family-base;
	font-size: $font-size-h2;
	line-height: $h2-line-height;
	line-height: 2.25rem;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
	color: $black;
}

h6 {
	font-size: $font-size-h6;
	color: $black;
}

.naslov-wrapper {
	margin-top: $spacer*2;
	margin-bottom: $spacer*2;
	@include media-breakpoint-down(md) {
		margin-top: 0;
		margin-bottom: $spacer;
	}
	img {
		@include media-breakpoint-down(md) {
			max-width: 200px;
		}
	}
	h1 {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	h2 {
		font-size: $font-size-h1;
		color: $font-color-base;
		margin-bottom: 0;
		@include media-breakpoint-down(md) {
			margin-bottom: 0;
			font-size: $font-size-h2;
		}
	}
}

// base
p, span, div, b {
	font-family: $font-family-base;
	font-weight: $font-weight-regular;
	color: $font-color-base;
	font-size: $font-size-base;
	line-height: $font-base-line-height;
}

b {
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
}


// links
a {
	position: relative;
	color: $font-color-base;
	text-decoration: underline;
	transition: $transition;
	&:hover {
		color: $font-color-headings;
	}
}


// wrappers main
.wrapper {
	padding: $spacer*2 0 $spacer*4 0;
	@include media-breakpoint-down(sm) {
		padding-top: $spacer*4;
	}
}

.wrapper-subpages {
	position: relative;
	padding: 10.5rem 0 4rem 0;
	overflow: hidden;
	.container {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
			height: 405px;
			width: 1119px;
			background-size: contain!important;
			background-repeat: no-repeat!important;
			background-position: top center;
			left: 50%;
  			transform: translateX(-50%);
			top: -50px;
			z-index: -1;
		}
	}
	@include media-breakpoint-down(sm) {
		padding: 7.1rem 0 4rem 0;
	}
	.uprava {
		& > div {
			&:not(:first-child) {
				@include media-breakpoint-up(md) {
					margin-left: 32px;
				}
			}
		}
	}
	iframe {
		width: 100%;
	}
	h4 {
		font-family: $font-family-base;
		font-size: $font-size-h2;
		line-height: $h2-line-height;
		margin-bottom: 22px;
		color: $new-black;
	}
	p {
		margin-bottom: 1.875rem;
		color: $new-black;

		&.white-desc-box {
			margin: -73px 15px 0;
		}
	}

	.white-desc-box {
		position: relative;
		background: $white;
		box-shadow: $new-box-shadow;
		padding: 14px 30px; 
		text-align: center;

		h3 {
			font-weight: $font-weight-bold;
			font-size: $font-size-h4;
		}
	}

	.portret-img {
		max-height: 424px;
		object-fit: cover;
		object-position: top;
	}
}


/*
spinner loader for featured recipes
*/
.loader-spinner {
	border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid $brand-primary;
  border-right: 1.1em solid $brand-primary;
  border-bottom: 1.1em solid $brand-primary;
  border-left: 1.1em solid transparent;
  transform: translateZ(0);
  animation: load-spinner 1.1s infinite linear;
	&:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}
}

@keyframes load-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*
img overlay on hover
*/
.img-overlay {
	position: relative;
	height: auto;
	width: 100%;
	display: block;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		background: rgba(255, 255, 255, 0.3);
		height: 100%;
		width: 100%;
		transform: translate(-50%, -50%) scale(0);
		transition: transform $transition-speed;
	}
	&:hover {
		&:before {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}


/*
social share buttons
*/
.social-share-links {
	text-align: center;
	z-index: 2;
	position: absolute;
	min-height: 35px;
	display: inline-block;
	width: 0;
	overflow: hidden;
	margin: 0 $spacer/2;
	transition: $transition;
	@include media-breakpoint-down(md) {
		left: 50%;
		transform: translate(-40%);
	}
	&.show {
		width: 200px;
		min-height: 35px;
		display: inline-block;
		transition: $transition;
		@include media-breakpoint-down(md) {
			display: block;
		}
		a {
			&:first-of-type {
				left: 0;
			}
			&:nth-of-type(2) {
				left: 45px;
			}
			&:nth-of-type(3) {
				left: 90px;
			}
			&:last-of-type {
				left: 135px;
			}
		}
	}
	a {
		margin: 0 $spacer/6;
		&:first-of-type, &:nth-of-type(2), &:nth-of-type(3), &:last-of-type {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	#share-mail {
		background: $brand-primary;
		height: 35px;
		width: 35px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		i {
			color: $white;
		}
	}
}

/*
global table styling
*/
table, th, td {
	border: 1px solid black;
 }

 table {
	 margin: $spacer 0;
	 border-collapse: collapse;
	 max-width: 100%;

	 @media(max-width: 1024px) {
		width: 100%;
	 }

	 td, span {
		font-size: 16px;
		@include media-breakpoint-down(sm) {
			font-size: 14px;
		}
	 }
	 tr {
		 td {
			 padding: $spacer/2;
			 @include media-breakpoint-down(sm) {
				padding: $spacer/4;
			}
		 }
	 }
	 thead, tfoot {
		tr {
			background-color: $brand-primary;
		}
		td, th {
			color: $white;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			padding: $spacer/2;
			@include media-breakpoint-down(sm) {
				padding: $spacer/4;
			}
		}
	}
 }


/*
pagination
*/
.pagination {
	display: flex;
	width: 100%;
	justify-content: center;
	.paginate-links {
		.page-numbers {
			color: $brand-primary;
			text-decoration: none;
			padding: $spacer/4;
			font-size: $font-size-h6;
			&.current {
				font-weight: $font-weight-bold;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}


/*
trgovine info content
*/
.infowindow-content {
	p, span {
		font-size: 0.8rem;
	}
	margin-top: $spacer;
	font-size: 0.8rem;
}


/*
responsive iframe container
*/
.resp-iframe-container {
    position: relative;
    overflow: hidden;
	padding-top: 56.25%;
	.resp-iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
	&.video-maps {
		margin-top: $spacer*3;
		margin-bottom: $spacer*2;
		@include media-breakpoint-down(md) {
			margin-top: $spacer*2;
			margin-bottom: $spacer;
		}
	}
}
.container {
	outline: none;
}
.kontakt-social-icons .social-links {
	display: flex;
	.social-link {
		&.mail,
		&.phone {
			display: none;
		}
	}
}

.my-grid-layout {
	padding: 0;
	list-style: none;

	@media(min-width: 1200px) {
		display: flex;
    	flex-wrap: wrap;
	}

	.listing-item {
		margin-bottom: 40px;

		&:nth-child(odd) {
			@media(min-width: 1200px) {
				padding-right: 5px;
			}
		}

		&:nth-child(even) {
			@media(min-width: 1200px) {
				padding-left: 5px;
			}
		}

		@media(min-width: 1200px) {
			width: 50%;
		}

		.content p { margin-bottom: 0 !important; }

		iframe {
			height: 315px !important;
			width: 315px !important;

			@media(min-width: 1200px) { 
				height: 400px !important;
				width: 100% !important;
			}
		}
	}
}

























