.m-right{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
        height: 500px;
        width: 900px;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        right: -648px;
        top: -210px;
        z-index: -1;
    }
}
.m-left{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url("/wp-content/themes/mlinotest/img/patterns/67.svg");
        height: 460px;
        width: 995px;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        left: -530px;
        top: -110px;
        z-index: -1;
    }
}
