/*
search popup
*/
#js--main-search-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background: rgba(255,255,255, 0.97);
    transition: all 0.5s ease-in-out;
    #js--search-popup-close {
        position: absolute;
        top: 20px;
        right: 40px;
        height: 40px;
        width: 40px;
        z-index: 9999;
        color: $brand-primary;
        // border: 2px solid $brand-primary;
        border-radius: 100%;
        box-shadow: inset 0px 0px 2px 2px $brand-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        i {
            font-size: 1.2rem;
        }
    }
    .container, .row, .col-12 {
        height: 100%;
    }
    .col-12 {
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .main-search-popup-wrapper {
        width: 100%;
        .logo-search-wrapper {
            margin-bottom: $spacer*3;
        }
        h2 {
            color: $brand-primary;
            text-align: center;
            margin-bottom: $spacer*2;
        }
        #searchform {
            display: block;
            width: 100%;
        }
        .main-search-input, .input-group-btn, .input-group {
            display: block;
            width: 100%;
            max-width: 100%;
        }
        .main-search-input {
            max-width: 700px;
            margin: $spacer auto;
            background: none;
            border: none;
            box-shadow: none;
            outline: none;
            border-bottom: 2px solid $brand-primary;
            color: $brand-primary;
            font-size: $font-size-h5;
            text-align: center;
            padding: $spacer/4 0;
            &::placeholder {
                color: $brand-primary;
            }
        }
        .input-group-btn {
            text-align: center;
            .btn {
                color: $white;
                font-size: $font-size-h5;
                text-transform: uppercase;
                border-radius: 3px;
                cursor: pointer;
                padding: $spacer/2 $spacer*2;
                transition: $transition;
                &:hover {
                    border: 2px solid $light-red;
                }
            }
        }
    }
    &.open {
        height: 100vh;
    }
}

// Search results
#search-results-wrapper {
    .site-main {
        margin-top: $spacer*6;
        .search-secondary-title {
            margin: $spacer*2 0 $spacer;
        }
        article h6 a,
        article a,
        article {
            position: relative;
            z-index: 10;
            cursor: pointer;

            &:hover { 
                color: #fd0d1b; 

                h6 {
                    color: #fd0d1b;
                }
            }
        }
    }
}
