aside {
	position: relative;
	max-width: 372px;
	height: auto;
	@include media-breakpoint-down(sm) {
		margin: 0 auto;
		margin-top: $spacer*2;
	}
	& > div {
		position: relative; 
		z-index: 1;
	}
	.sidebar-navigation {
		position: relative;
		z-index: 2;
		background: $white;
		padding: $spacer*2 $spacer;
		box-shadow: 0px 0px 30px #0000001F;
		margin-bottom: $spacer*4;
		padding-top: $spacer;
		h3 {
			font-size: 2rem;
			color: $new-red;
		}
		.product-group-logo {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 0;
			list-style: none;
			height: 110px;
			width: 220px;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				a {
					font-family: $font-family-base;
					font-size: $font-size-base;
					color: $new-light-grey;
					display: flex;
					padding: $spacer/2 0;
					text-decoration: none;
					span {
						position: relative;
						top: -2px;
						margin-right: $spacer/2;
						min-width: 15px;
					}
				}
				&:last-of-type {
					border-bottom: none;
				}
				&.active {
					span {
						color: $brand-primary;
						font-weight: $font-weight-bold;
					}
					a {
						color: $new-black;	
						font-weight: $font-weight-bold;
					}
				}
			}
		}
		.top-level {
			border-bottom: 2px solid $brand-primary !important;
			a {
				color: $brand-primary;
				font-weight: $font-weight-bold;
			}
		}
		.fds {
			background: rgba($gray,0.04);
		}
	}
	.sidebar-single-categories {
		ul {
			list-style: none;
			padding: 0;
			li {
				display: block;
				margin: $spacer*1.5 0;
				background: $white;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
				a {
					display: block;
					padding: $spacer;
					text-decoration: none;
					font-size: $font-size-h4;
					font-weight: $font-weight-bold;
					text-align: center;
				}
			}
		}
	}
}


/*
dropdown animate height
*/
.sidebar-navigation-wrapper {
	.dropdown-heading {
		cursor: pointer;
	}
	.dropdown-menu-sidebar {
		max-height: 0;
    	transition: max-height 0.6s ease-out;
    	overflow: hidden;
	}
	&.active {
		.dropdown-menu-sidebar {
			max-height: 2000px;
    		transition: max-height 0.6s ease-in;
		}
		.dropdown-button {
			background: #949494;
			i {
				transform: translate(-50%) rotate(180deg);
			}
		}
	}
}

/*
dropdown button
*/
.dropdown-button {
	box-shadow: none;
	border: none;
	position: absolute;
	z-index: 0;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%);
	background: $new-red;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	cursor: pointer;
	i {
		position: absolute;
		bottom: 2px;
		left: 50%;
		transform: translate(-50%);
		color: $white;
		font-size: 1.8rem;
		transition: transform 0.6s;
	}
	&:focus {
		outline: none;
	}
}

.page-template-template-izdelki {
	.sidebar-column {
		margin-top: $spacer;
	}
	.sidebar-navigation {
		margin-bottom: $spacer*7;
		ul {
			padding-top: $spacer*3.5;
		}
	}
}
.social-icons-float {
	position: fixed;
    right: 0;
    top: 50%;
    z-index: 10;
	transform: translateY(-50%);
}

.social-links {
	.social-link {
		display: block;
		margin: 10px 5px;
	}
}
